.hero-container {
  height: 82vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  background-image: url(../../assets/images/heroBack.jpg);
  background-size: cover;
}

.hero-container > h2 {
  color: #fff;
  font-size: 50px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  height: 100px;
  width: 350px;
  margin: 6px;
}
.hero-btns .btn:hover {
  background-color: #f5852a;
}
.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h2 {
    text-align: center;
    font-size: 40px;
    margin-top: -100px;
    box-sizing: border-box;
    padding: 80px;
  }
  .hero-container > p {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h2 {
    font-size: 35px;
    margin-top: -100px;
    text-align: center;
  }

  .hero-container > p {
    font-size: 30px;
    text-align: center;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
